/*
 * Overrides CSS
 */

/*Mic Aenderung Linkfarbe*/

a {
    color: #b4781e;
    
}

/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1180px;
      margin: 0px auto;
  }
}


/* critical CSS */

@font-face {
    font-family: 'trirongregular';
    src: url('/templates/089-standard/fonts/trirong-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
   font-family: 'trirongregular', serif;
 }
body.site p {
  line-height: 22px;
}

/*body {
    font-family: 'Adobe Garamond Pro Regular';
}*/
a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.clr {
    clear: both;
}
h2,
.blog h2,
h2 a {
    color: #b4781e;
    font-weight: normal;
}

h1,
h1 a {
    color: #6c6a6a;
    font-weight: normal;
}
/*lzyLoad*/
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
/*header*/
header#header {
    margin-bottom: 30px;
}
.countryTags h4 {
    color: #6c6a6a;
    font-weight: normal;
    font-size: 14px;
    margin-right: 20px;
}
.orgHeader h2 span {
    font-size: 22px;
}
.orgHeader h2 {
    font-size: 41px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
  color: #6c6a6a;
}
.orgHeader a {
    color: #6c6a6a;
}
.orgHeader a:hover {
   color: #be9f83;
} 
.langIcons {
    background: #f8f8f8;
    padding: 15px 0px 10px;
}
p.tel a,
p.fax a {
    color: #6c6a6a;
}
p.tel:before {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(/images/tel-icon.png) top left no-repeat;
}
.vcard.contact p.tel:before {
    content: initial;
}
p.tel {
    position: relative;
    text-align: center;
}
.vcard .org {
    display: none;
}
.vcard.contact .org {
    display: block;
}
.vcard.contact {
    margin: 30px 0;
}
.vcard.contact p.tel {
    position: initial;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #6c6a6a;
    text-align: left;
    padding: 0px;
}
p.adr {
    display: none;
}
.vcard.contact span.country-name {
    display: none;
}
.contact p.adr {
    display: block;
}
.countryTags h4 {
    display: inline;
}

/*content*/
/*critical*/
ul.persKompetenz {
    clear: both;
    margin-left: 0px;
}
ul.persKompetenz li {
    clear: both;
    background: url(/images/li-style-2.jpg) no-repeat -5px top;
    font-size: 16px;
    line-height: 25px;
    text-indent: 0px;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 20px;
}
div#fachNavi {
/*    background: #f4f4f4;
    text-align: center;*/
}
div#fachNavi h5 {
    display: block;
    font-family: inherit;
    text-transform: uppercase;
    color: #6c6a6a;
    font-weight: normal;
    font-size: 12px;
/*    text-align: left;
    padding-left: 2%; */   
}
@media(min-width: 981px) {
  body.site div#fachNavi h5 {
    display: none;
    text-align: left;
  }
  body.site div#fachNavi {
    text-align: left;
  }  
}
hr.koopHr {
    border-top: 1px solid #d0d0d0;
}
.koopRow {
  margin: 20px 0px 30px;
}
.blog,
main#content {
    margin-bottom: 30px;
}
/*body.site a.btn {
    transform: translateX(18%);
}*/

/* Mic Aenderung auf "left" */
.item.column-1,
.item.column-3,
.item.column-4 {
    text-align: left;
}

/* Mic Aenderung "weiterlesen - btn" */
body.site a.btn {
    text-shadow: none;
    margin: 20px 0;
    width: 180px;
    text-align: center;
    padding: 5px 0px;    
    
}
body.site a.btn.fachNaviOben {
    width: 90px;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    
}
body.site span.icon-chevron-right {
    background-image: none;
    width: 0px;
    height: 0px;
}
.pull-left.item-image {
    padding: 0 50px 30px 0;
}
body.itemid-189 .pull-none.item-image,
body.itemid-202 .pull-none.item-image {
    padding: 0 0px 30px 0;
}
.pull-right.item-image {
    padding: 0 0 20px 20px;
}
.item-image img {
    box-shadow: 1px 5px 20px -4px #9e9e9e;
}
a.pathway {
    color: #be9f83;
}
.navImgWrapper {
    margin: 50px 0px;
}
.fullwidth.contentWrapper {
    background-color: #f4f4f4;
}
body.site.itemid-146 .fullwidth.contentWrapper {
    background-color: transparent;
}
.navImgWrapper .span4 h3 {
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px 10px;
    box-shadow: 4px 4px 10px -2px #191919;
    z-index: 4;
    background: rgb(14,14,14);
    background: -moz-linear-gradient(left,  rgba(14,14,14,0.7) 0%, rgba(86,86,86,0.7) 66%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(left,  rgba(14,14,14,0.7) 0%,rgba(86,86,86,0.7) 66%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to right,  rgba(14,14,14,0.7) 0%,rgba(86,86,86,0.7) 66%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#000000',GradientType=1 );
}
.navOverlay h4 {
    top: 20px;
    position: absolute;
    left: 0;
    color: #4e4e4e;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    width: 60%;
    text-transform: uppercase;
    z-index: 3;
    text-shadow: 1px 2px 1px #a5a5a5;
}
.navOverlay {
    position: relative;
}
body.site .page-header {
    border-bottom: none;
}
body.site .content h1 {
    font-size: 20px;
    text-transform: uppercase;
  letter-spacing: 2px;
}
body.site .content h2,
body.site .moduletable h2 {
    font-size: 22px;
}

/*non-critical*/
ul.kompetenzList li a:hover {
    color: #333;
    border-bottom: 1px solid #333;
}
ul.kompetenzList li a {
    color: #b4781e;
    border-bottom: 0px solid #fff;
    transition: all .3s ease-in-out;
}
a.fachNaviOben {
    font-size: 14px;
    width: 20px;
    height: 18px;
    border: 1px solid rgba(182, 151, 123, 0.59);
    border-radius: 50%;
    padding: 0px;
    display: inline-block;
    text-align: center;    
}

 /*Menue*/ 
 body.site ul.nav-child.unstyled.small.dropdown-menu li a {
    padding: 20px;
    font-size: 15px;
}
nav.navbar-wrapper.fullwidth {
    margin-bottom: 35px;
}
body.site .navbar .nav>li>a {
    text-shadow: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
}
body.site .dropdown-menu>.active>a,
body.site .dropdown-menu>.active>a:hover,
body.site .dropdown-menu>.active>a:focus,
body.site .dropdown-menu>li>a:hover,
body.site .dropdown-menu>li>a:focus,
body.site .dropdown-submenu:hover>a,
body.site .dropdown-submenu:focus>a {
    text-decoration: none;
    background: rgb(134,104,75);
    background: -moz-linear-gradient(45deg, rgba(134,104,75,1) 0%, rgba(192,161,133,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(134,104,75,1) 0%,rgba(192,161,133,1) 100%);
    background: linear-gradient(45deg, rgba(134,104,75,1) 0%,rgba(192,161,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86684b', endColorstr='#c0a185',GradientType=1 );
}
@media(min-width: 801px) and (orientation: portrait) {
    body.site .dropdown-menu>.active>a,
    body.site .dropdown-menu>.active>a:hover,
    body.site .dropdown-menu>.active>a:focus,
    body.site .dropdown-menu>li>a:hover,
    body.site .dropdown-menu>li>a:focus,
    body.site .dropdown-submenu:hover>a,
    body.site .dropdown-submenu:focus>a {
        background: transparent;
        border-bottom: 3px solid #fff;
    }
}
body.site .navbar-wrapper {
    background: rgb(134,104,75);
    background: -moz-linear-gradient(45deg,  rgba(134,104,75,1) 0%, rgba(192,161,133,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(134,104,75,1) 0%,rgba(192,161,133,1) 100%);
    background: linear-gradient(45deg,  rgba(134,104,75,1) 0%,rgba(192,161,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86684b', endColorstr='#c0a185',GradientType=1 );
}
 body.site .navbar .nav>.active>a span:after {
      content: '';
      background-color: #fff;
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 1;
      transform: rotateY(0deg);
      border-radius: 0%;
 }

body.site .navbar .nav li.dropdown.open>.dropdown-toggle,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle,
body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover, 
body.site .navbar .nav>.active>a:focus {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  position: relative;
}
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.open>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
body.site .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar .nav > li {
  display: inline-block;
  position: relative;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
      width: 100%;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */

/*bottom / footer*/
.kanzKomp {
    margin-bottom: 40px;
}
a.pull-right.imprLink {
    color: #6c6a6a;
    text-transform: uppercase;
}
#copyright {
  margin-bottom: 30px;
  color: #6c6a6a;
}
.bottom2.fullwidth {
    padding: 30px 0px 15px;
    box-shadow: 0px 4px 20px -8px #616161;
    margin-top: 30px;
}
.bottom2.fullwidth {
    background-color: #f4f4f4;
}
.bottom-wrap,
.bottom2-wrap {
    margin: 30px auto 50px;
}
ul.kompetenzList li {
    background: url(/images/li-style.jpg) no-repeat -5px top;
    font-size: 16px;
    line-height: 25px;
    text-indent: 0px;
    list-style-type: none;
    padding-left: 20px;
    margin-left: 10px;
}
body.site.itemid-195 ul.kompetenzList li {
    background: url(/images/li-style.jpg) no-repeat -5px top;
}
.bottom h3,
.koopHeader {
    text-transform: uppercase;
    color: #6c6a6a;
    font-weight: normal;
    font-size: 21px;
}
ul.kompetenzList {
    list-style-type: none;
}



/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
body#body #cookiesck_accept {
    background: #6c6a6a;
    float: none;
    width: 100px;
    margin: 20px auto 0px !important;
    border: 1px solid #fff;
}
html[lang="en-gb"] body#body #cookiesck_accept {
    width: 120px;
    padding: 15px 10px;
}  
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #313131 !important;
    text-shadow: none;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #6c6a6a;
    border-color: #6c6a6a;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 812px) {
  html[lang="en-gb"] body#body.mobile #cookiesck_accept {
    width: 120px;
    padding: 10px;
  } 
}