/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	body.site .items-row a.btn {
	    width: 169px;
	}
}

@media(width: 800px) {
	
}

@media(width: 1024px) and {
	
}

@media(max-width: 320px) and (orientation: portrait) {
	/*critical*/
	body.site #header .orgHeader h2 {
	    font-size: 22px;
	}
	body.site #header .vcard {
	    left: 85px;
	    max-width: 220px;
	}
}

@media(max-width: 375px) and (orientation: portrait) {
	/*critical*/
	body.site #header .orgHeader h2 span {
	    font-size: 10px;
	}
}
@media(max-width: 413px) {
	body#body.site.mobile #fachNavi a.btn {
	    width: 90vw;
	    font-size: 12px;
	    margin: 5px auto;
	}
}
@media(max-width: 600px) and (orientation: portrait) {
		
		/*EN only*/
		body.site.itemid-182 #fachNavi a.btn {
		    height: 40px;
		    padding: 15px 0 0;
		}
		body.site.itemid-182 #fachNavi a.btn:first-child {
		    padding: 10px 0 5px;
		}		
}
@media(max-width: 736px) and (orientation: landscape) {
	/*critical*/
	body.site .navImgWrapper .span4 {
	    width: 370px;
	    margin: 0px auto;
	}
	/*non-critical*/
	.flex-bottom {
	    display: flex;
	}
}
@media(max-width: 736px) {
	/*critical*/
	body.site div.blog div.item {
	    text-align: center;
	}
}
@media(min-width: 768px) and (orientation: landscape) {
	body.site p.tel:before {
	    left: 20px;
	}
}

@media(min-width: 320px) and (orientation: portrait) {
	/*critical*/
}
@media(max-width: 767px) and (orientation: portrait) {
	body.site #ap_ajax_qc_87 textarea {
	    width: 92%;
	}
	body.mobile .pull-left.item-image {
		float: none;
	}
	body.mobile ul.kompetenzList {
	    margin-bottom: 0px;
	}
}
@media(max-width: 767px) {
	/*critial*/ 
	ul.lang-inline img {
	    width: 25px;
	}
	body.site .koopRow .span3 {
	    margin-bottom: 30px;
	}
	body.site.mobile.itemid-195 ul.kompetenzList li {
	    background: url(/images/li-style.jpg) no-repeat -5px 4px;
	    /*background-size: 5%;*/
	}
	body.site.mobile .pull-left.item-image {
	    padding: 0 20px 30px 0;
	}
	body.itemid-189 .item p:last-of-type,
	body.itemid-202 .item p:last-of-type {
	    margin-bottom: 50px;
	}
	body.site .content main#content h1 {
	    font-size: calc(26px + 16 * ((100vw - 736px) / 736));
	    line-height: 30px;
	}
	body.site .content main#content h2 {
	    font-size: calc(22px + 8 * ((100vw - 736px) / 736));
	    line-height: 25px;
	}
	body.site main#content .navImgWrapper .span4 .navOverlay h4 {
	    font-size: 18px;
	    top: 60px;
	}
	body.site main#content .navOverlay:before {
	    top: 70px;
	}
	body.site p.tel:before {
	    background-size: 80%;
	}
	body.site p.tel a {
	    margin-left: 20px;
	    font-size: 16px;
	}
	body.site .vcard.contact p.tel a {
	    margin-left: 0px;
	}
	body.site .vcard.contact {
		max-width: 280px;
		left: 15px;
	}
	body.site .vcard {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		left: 105px;
		max-width: 230px;
	}
	body.site p.adr span {
	    display: inline;
	}
	body.site p.adr {
	    display: block;
	    text-align: center;
	    font-size: 10px;
	    margin-bottom: 15px;
	}
	body.site .span1.pull-right.langIcons {
	    position: absolute;
	    background-color: transparent;
	    top: initial;
	    max-width: 50%;
	}	
	.innerwidth.flex {
	    display: flex;
	    flex-direction: column-reverse;
	}
	.countryTags {
	    display: none;
	}
	body.site p.adr,
	body.site p.tel {
		text-align: initial;
		line-height: 20px;
	}
	body.site  {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	body.site .orgHeader h2 {
	    font-size: 28px;
	    letter-spacing: 1px;
	    margin-bottom: 0px;
	}
	body.site .orgHeader h2 span {
	    font-size: 12px;
	}
	body.site p,
	body.mobile ul.persKompetenz li,
	body.mobile ul li {
		font-size: 14px;
	}
	/*non-critial*/
	body.site .copyWrapper.innerwidth a {
	    font-size: 14px;
	}	
	body.site .copyWrapper.innerwidth p {
	    font-size: 10px;
	}
	ul.kompetenzList {
	    margin-bottom: 30px;
	}
	body.site .bottom2-wrap {
	    margin: 0 auto;
	    padding: 0px 30px;
	}
	/*non-critical*/
	body.site .bottom h3 {
	    font-size: 18px;
	}	
}
@media(min-width: 768px) {
	/*critical*/
	body.site.itemid-189 .pull-none.item-image,
	body.site.itemid-202 .pull-none.item-image {
	    padding: 0 50px 80px 0;
	}	
	.flex-bottom {
	    display: flex;
	}
	body.site p {
		font-size: 16px;
	}
	body.Firefox nav.navbar-wrapper.fullwidth {
	    box-shadow: 0 2px 10px -2px #626262;
	}
	nav.navbar-wrapper.fullwidth {
	    box-shadow: 0px 2px 20px -2px #626262;
	}
	.orgHeader {
	    display: inline;
	}
	.langIcons {
	    background: #f8f8f8;
	    box-shadow: 0px 4px 10px -5px #676767;
	    padding: 15px 0 10px;
	    text-align: center;
	}
	p.tel:before {
	    top: 10px;
	}
	p.tel {
	    padding: 15px 0 10px 10px;
	    background: #f8f8f8;
	    box-shadow: 0px 4px 10px -5px #676767;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
	body.site.itemid-202 .items-row.cols-3,
	body.site.itemid-189 .items-row.cols-3 {
	    padding-left: 15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) { 
	body.site.mobile .blog .items-row {
	    display: flex;
	    justify-content: space-between;
	}
	body.site.mobile .blog .items-row .span4,
	body.site.mobile .blog .items-row .span3 {
		float: none;
		width: initial;
	}
}

@media(min-width: 768px) and (max-width: 1280px) {
	/*critical*/
	.navImgWrapper div.row-fluid a .span4 {
		margin-right: 20px;
	}
	.navImgWrapper div.row-fluid a .span4.last {
		margin-right: 0px;
	}	
	body.site .blog h2 a {
	    font-size: 18px;
	}
	body.site .navbar div#module_95 .nav>li>a,
	body.site .navbar div#module_94 .nav>li>a {	
    	font-size: 13px;
	}
	body.site .navbar .nav>li>a:focus span:after {
		transform: rotateY(0deg);
	    border-radius: 0%;
	    opacity: 1;
	   	transition: opacity .2s ease-in-out, 
	    	transform .4s ease-in-out,
	    	border-radius .4s ease-in-out;
	}
	body.site .navbar .nav>li>a span:after {
	    content: '';
	    background-color: #fff;
	    width: 100%;
	    height: 4px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    opacity: 0;
	    transform: rotateY(90deg);
	    border-radius: 50%;
	    transition: opacity .2s ease-in-out .2s,
	    	transform .2s ease-in-out .2s,
	    	border-radius .3s ease-in-out;
	}	
	body.site p.tel:before {
	    background: url(/images/tel-icon.png) center left no-repeat;
	    background-size: 70%;
	}
	p.tel a {
	    font-size: 14px;
	}
	p.tel:before {
	    left: 0px;
	}

} 
@media(max-width: 800px) {
	/*critical*/
	body.site #mobileToggle {
		display: none !important;
	}
	body.site .nav-collapse .dropdown-menu {
	    display: block !important;
	}
	body.site ul.nav-child li a {
		color: #fff;
	}
	body.site.mobile ul.nav-child.unstyled.small.dropdown-menu li a {
	    padding: 10px 20px;
	}
	body.site.mobile .navbar .nav>.active>a span:after {
	    width: 95%;
	    left: 10px;
	}		
}
@media(max-width: 980px) {
	/*critical*/
	body#body.site #fachNavi a.btn {
	    width: 43vw;
	    font-size: 12px;
	    margin: 10px 0;
	    letter-spacing: -0.2px;
	}	
	body.site .navbar div#module_1 .nav>.active>a span:after {
	    width: 30%;
	    left: 10px;
	}
	body.site .navImgWrapper .span4 .navOverlay h4 {
	    font-weight: bold;
	    font-size: 14px;
	    line-height: 20px;
	    letter-spacing: -0.2px;
	}
	.navImgWrapper {
	    margin-top: 30px;
	}
	body.site .nav-collapse .nav>li>a:hover,
	body.site .nav-collapse .nav>li>a:focus,
	body.site .nav-collapse .dropdown-menu a:hover,
	body.site .nav-collapse .dropdown-menu a:focus {
	    background-color: transparent;
	}
	body.site .navbar .nav > li {
	  display: inline;
	}
}

@media(min-width: 980px) {
	/*critical*/
	body.site div#fachNavi a.btn {
	    background: transparent;
	    border: none;
	    width: initial;
	    padding-right: 10px;
	    margin: 5px 0;
	    color: #87694c;
	    font-size: 12px;
	    text-decoration: underline;
	}
	a.fachLink.btn:after {
	    content: "|";
	    padding-left: 10px;
	    color: #6c6a77;
	}
	a.fachLink.btn:last-child:after {
	    content: "";
	}
	#module_99 ul.kompetenzList {
	    margin: 0px;
	}
	body.itemid-194 ul.kompetenzList {
	    margin: 0 80px;
	}
	.flex-bottom {
	    justify-content: flex-end;
	}
	body.site .countryTags h4 {
	    margin-right: 15px;
	}
	.countryTags {
	    margin-left: calc(161px + 16 * ((100vw - 1920px) /1920));
	}
	body.site .navbar .nav>li>a {
		letter-spacing: 2px;
	}
	.navbar .nav>li:last-child:after {
	    content: ' ';
	}
	.navbar .nav > li:after {
	    content: '|';
	    color: rgba(255,255,255, 0.5);
	    position: absolute;
	    right: 0;
	    top: 6px;
	}
}
@media(width: 1024px) and (orientation: landscape) {
	body.mobile .countryTags {
	    margin-left: calc(170px + 16 * ((100vw - 1920px) /1920));
	}
}
@media(max-width: 1024px) {
	/*critical*/
	#module_99 h4 {
	    font-size: 14px;
	}	
	#module_99 ul.kompetenzList li {
	    font-size: 12px;
	    text-indent: 25px;
	}
	body.site .countryTags h4 {
	    font-size: 12px;
	    margin-right: 12px;
	}
}

@media(min-width: 1200px) {
	/*critical*/
	body.site .span12 {
		width: 1180px;
	}
	body.itemid-195 .listHolder,
	body.itemid-182 .listHolder {
	    display: flex;
	}
	body.itemid-195 .listHolder ul,
	body.itemid-182 .listHolder ul {
	    flex-basis: 50%;
	}
	body.site.itemid-195 ul.kompetenzList li,
	body.site.itemid-182 ul.kompetenzList li {
	    font-size: 15px;
	}	
}

@media(max-width: 1280px) {
	/*critical*/
	body.site .navbar .nav {
		width: 100%;
	}
	body.site.mobile .navbar .btn-navbar {
		margin-right: 15px;
	}
	body.site #mobileToggle {
		display: block;
		padding: 10px 10px 0 0 ;
		margin-left: 5px;
		font-size: 21px;
	}
	body.site li.item-196 a,
	body.site li.item-183 a {
	    padding-right: 0px;
	}
	body.site li.item-196,
	body.site li.item-183 {
	    display: inline-flex;
	}
	.caretMobile {
	    display: inline-block;
	    width: 0px;
	    height: 0px;
	    vertical-align: middle;
	    border-top: 6px solid #fff;
	    border-right: 6px solid transparent;
	    border-left: 6px solid transparent;
	    content: "";
	}
	b.caret {
		display: none;
	}
	body.site .countryTags h4 {
	    color: rgba(108, 106, 106, 0.8);
	    font-weight: normal;
	}	
	body.site .navImgWrapper .span4 {
	    padding: 10px;
	}
	body.site .navImgWrapper .span4 h3 {
	    font-size: 16px;
	}	
	.navImgWrapper .span4 .navOverlay h4 {
		color: #000;
	    opacity: 1;
	    left: 60px;
	}	
	body.site .navOverlay:before {
	    content: '';
	    width: 1px;
	    border-left: 4px solid #6a6968;
	    z-index: 4;
	    padding-right: 5px;
	    position: absolute;
	    height: 70px;
	    left: 45px;   	    
	   	top: 30px;
	}	
	.navImgWrapper .span4:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(255,255,255, 0.5);
	}
	.navImgWrapper .span4 {
	    position: relative;
	}	
	.navImgWrapper .span4 img.navImg {
		opacity: 1;
		filter: grayscale(70%);
		-webkit-filter: grayscale(70%);
	}	
	body.site header,
	body.site .content,
	body.site .bottom.fullwidth,
	body.site .bottom2.fullwidth,
	body.site div#copyright {
		padding-left: 15px;
		padding-right: 15px;
	}
	/*non-critical*/
	body.site.mobile .bottom2.fullwidth {
		overflow: hidden;
	}
	body.site.mobile .position_bottom7 iframe {
	    overflow: hidden;
	}	
	.bottom2-wrap.innerwidth iframe {
	    height: 350px;
	}	
}

@media(min-width: 1281px) {
	/*critical*/	
	.navImgWrapper div.row-fluid a .span4 {
		margin-right: 30px;
	}
	.navImgWrapper div.row-fluid a .span4.last {
		margin-right: 0px;
	}
	.vcard.contact .org {
	    display: block;
	    font-size: 26px;
	    padding-bottom: 10px;
	}	
	#mobileToggle {
		display: none;
	}
	body.site .dropdown-menu {
	    top: 35px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navImgWrapper:nth-child(2) .span4 {
	    margin: 0px 10px;
	}	
	.navImgWrapper .span4:hover:after {
		background-color: rgba(255,255,255, 0.6);
	}
	.navImgWrapper .span4:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(255,255,255, 0.0);
		transition: all .3s ease-in-out;
	}
	.navImgWrapper .span4 {
	    position: relative;
	}	
	.navImgWrapper .span4:hover img.navImg {
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}
	.navImgWrapper .span4 img.navImg {
		opacity: 1;
		filter: grayscale(0%);
		transition: opacity .3s ease-in-out,
			filter .5s ease-in-out,
			-webkit-filter .5s ease-in-out;
	}	
	.navImgWrapper .span4:hover .navOverlay h4 {
	    opacity: 1;
	    left: 60px;
	}
	.navImgWrapper .span4:hover .navOverlay:before {
	    height: 70px;
	    left: 45px;
	    transition: height .5s ease-in-out,
	    	left .3s ease-in-out .1s;	    	    
	}
	body.site .navOverlay:before {
	    content: '';
	    width: 1px;
	    height: 0px;
	    border-left: 4px solid #6a6968;
	    z-index: 4;
	    padding-right: 5px;
	    position: absolute;
	    top: 30px;
	    left: 0px;
		transition: height .1s linear,
			    	left .1s linear;
	}
	body.site .navOverlay h4 {
		opacity: 0;
		transition: opacity .3s ease-in-out,
			left .3s ease-in-out;
	}
	body.site .navbar .nav>li>a:hover span:after {
		transform: rotateY(0deg);
	    border-radius: 0%;
	    opacity: 1;
	   	transition: opacity .2s ease-in-out, 
	    	transform .4s ease-in-out,
	    	border-radius .4s ease-in-out;
	}
	body.site .navbar .nav>li>a span:after {
	    content: '';
	    background-color: #fff;
	    width: 100%;
	    height: 4px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    opacity: 0;
	    transform: rotateY(90deg);
	    border-radius: 50%;
	    transition: opacity .2s ease-in-out .2s,
	    	transform .2s ease-in-out .2s,
	    	border-radius .3s ease-in-out;
	}
	body.site .navbar .nav>li>a:hover  {
	    text-shadow: 0.1px 0.2px 0.1px #fff, 0.2px -0.1px 0.1px #fff,0px 0px 0px #fff;
	}
	.navbar .nav>li:first-child>a {
		padding: 10px 15px 10px 0px;
	}
	.navbar .nav>li>a {
    	padding: 10px 15px 10px 20px;
	}
	p.tel a {
	    font-size: 16px;
	}
	p.tel:before {
	    left: 20px;
	}
	/*non-critical*/
	div.siteEnd {
	    background: #f4f4f4;
	    padding: 20px 0px;
	    box-shadow: 0px -5px 20px -9px #626262;
	}
}